<body>
  <h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <div class="error_explanation">
      <%= @book.errors.count %>errors prohibited this book from being saved:<br>
      <% @book.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: @book, local:true do |f| %>
    <div class="field">
      <label>Title</label>
      <div><%= f.text_field :title %></div>
    </div>
    <div class="field">
      <label>Body</label>
      <div><%= f.text_area :body %></div>
    </div>
    <div class="actions">
      <%= f.submit 'Update Book' %>
    </div>
  <% end %>
  <%= link_to "Show", book_path(@book), class: "link" %>
  |
  <%= link_to "Back", books_path, class: "link" %>
</body>